*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Share Tech', sans-serif;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

section, header, img.middle-img, address {
    margin-bottom: 40px;
}

div {
    display: inline-block;
}

.box {
    margin: auto;
    max-width: 875x;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    margin: none;
}

.navbox {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 875x;
}

nav {
    display: inline-block;
    margin-right: 20px;
    margin-left: 60px;
    padding: 40px 0;
    width: 76%;
}

.links {
    margin-right: 8%;
    left: 8;
    color: lightgray;
    cursor: pointer;
}

.links:hover {
    color: blue;
    text-shadow: lightblue 0 0 2px;
        }

.logo {
    vertical-align: middle;
}

.innovation {
    border-bottom: 1px solid #000;
    padding-bottom: 80px;
    margin-top: 138px;
}

.slogan {
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    width: 56%;
}

h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.slogan a {
    text-decoration: none;
    padding: 6px 45px;
    color: #000;
    border: 1px solid #000;
}

.slogan a:hover {
    background-color: lightblue;
}

.snippet {
    vertical-align: top;
}

.top-info {
    width: 49%;
}

.toptitle {
    margin-right: 1%
    }

img.img-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px
}

.bottom-content {
    border-bottom: 1px solid #000;
}

.bottom-info {
    width: 32%;
    padding-bottom: 40px;
    margin-left: 10px
    pmargin-right: 5px
}

.address{
    margin-bottom: 20px;
}

.contact-link {
    text-decoration: none;
    color: #000;
}

contact-link:hover {
    color: lightblue;
}

footer {
    text-align: center;
    margin: 50px;
    font-size: 13px;
}
